# The Site Configuration

# Import the theme
theme: jekyll-theme-chirpy

# The language of the webpage › http://www.lingoes.net/en/translator/langcode.htm
lang: tr-TR

# Change to your timezone › https://zones.arilyn.cc
timezone: Europe/Istanbul

# jekyll-seo-tag settings
# ↓ --------------------------

title: Sxinar # the main title
tagline: "Özgür Yazılım Geliştiricisi bir Öğrenciyim" # it will display as the subtitle

description: >-
  Artado Ekosistemini geliştirmek için Proje yöneticiliği yapıyorum.

# Fill in the protocol & hostname for your site.
url: "https://sxi.is-a.dev"

github:
  username: Sxinar

social:
  name: Sxinar 
  email: sxi@artadosearch.com
  links:
    - https://github.com/Sxinar

# Site Verification Settings
webmaster_verifications:
  google: "9vDl9ZWafw6axSRcM84i6n7GBAtBEr-CVM9ezziGjC0"
  bing:
  alexa:
  yandex:
  baidu:
  facebook:

# ↑ --------------------------

# Web Analytics Settings
analytics:
  google:
    id: "G-X48MN6QVW8" # Google Etiketiniz buraya eklendi
  goatcounter:
    id:
  umami:
    id:
    domain:
  matomo:
    id:
    domain:
  cloudflare:
    id:
  fathom:
    id:

# Page views settings
pageviews:
  provider:

theme_mode: # [light | dark]

cdn:

# the avatar on sidebar
avatar: https://avatars.githubusercontent.com/u/130384567

# social preview image
social_preview_image: https://avatars.githubusercontent.com/u/130384567

toc: true

comments:
  provider: giscus
  disqus:
    shortname:
  utterances:
    repo:
    issue_term:
  giscus:
    repo: "sxinar/blog"
    repo_id: "R_kgDOQx1EfA"
    category: "General"
    category_id: "DIC_kwDOQx1EfM4C0b-r"
    mapping: pathname
    strict: 0
    input_position: bottom
    lang: en
    reactions_enabled: 1

assets:
  self_host:
    enabled:
    env:
  js:
    - "/assets/js/custom.js"


pwa:
  enabled: true
  cache:
    enabled: true
    deny_paths:

paginate: 10

# The base URL of your site. 
# For 'https://sxinar.github.io/', set it to ""
baseurl: ""

# ------------ The following options are not recommended to be modified ------------------

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: highlight
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

collections:
  tabs:
    output: true
    sort_by: order

defaults:
  - scope:
      path: ""
      type: posts
    values:
      layout: post
      comments: true
      toc: true
      permalink: /posts/:title/
  - scope:
      path: _drafts
    values:
      comments: false
  - scope:
      path: ""
      type: tabs
    values:
      layout: page
      permalink: /:title/

sass:
  style: compressed

compress_html:
  clippings: all
  comments: all
  endings: all
  profile: false
  blanklines: false
  ignore:
    envs: [development]

exclude:
  - "*.gem"
  - "*.gemspec"
  - docs
  - tools
  - README.md
  - purgecss.js
  - "*.config.js"
  - "package*.json"

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

google_site_verification: 9vDl9ZWafw6axSRcM84i6n7GBAtBEr-CVM9ezziGjC0
