// src/pages/admin.astro
---
import { useEffect } from 'react';

useEffect(() => {
  window.location.href = 'https://sxinar.pages.dev/Sxinar/blog/main/content/posts';
}, []);
---

<p>Yönlendiriliyorsunuz...</p>
